    @import url('https://fonts.googleapis.com/css2?family=Bitcount+Prop+Double:wght@100..900&display=swap');
body {
    color: blanchedalmond;
    font-family: "Bitcount Prop Double";
    background-image: url('../images/image.jpg');
    background-size: cover;
    background-position: right 50% top 0%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    opacity: 90%;
    margin: 0;
}
#kerdesSpace {
    background-color: rgba(90, 65, 155, 0.90);
    padding: 2%;
    border: 2px solid black;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    width: 50%;
    margin-top: 0;
    z-index: 1000;
    margin-top: 32%;
    position: relative;
}
#kerdesText {
    font-weight: bolder;
    color: blanchedalmond;
}
#valaszSpace {
    background-color: rgba(140, 100, 210, 0.90);
    width: 49.75%;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    margin: 0;
}
#valasz4 {
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}
::selection {
    background: blanchedalmond;
    color: rgba(140, 100, 210, 0.90);
    text-shadow: none;
}
.gomba{
    background-color: rgba(140, 100, 210, 0.90);
    color: blanchedalmond;
    border: 2px solid blanchedalmond;
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 5px;
    margin-top: 5px;
    font-weight: bolder;
    font-size: x-large;
    box-shadow: 0 4.2px blanchedalmond;
}
span{
    font-size: larger;
    font-weight: bolder;
}
img{
    display: none;
}
#valasz{
    color: blanchedalmond;
    background-color: rgba(140, 100, 210, 0.90);
    margin: 0;
    width: 100%;
    border: none;
    border-bottom: 2px black solid;
    font-size: large;
    font-weight: bold;
}
#kerdojel{
    padding: 0;
}
.valaszText{
    font-weight:600;
    padding-top: 1%;
}
#gama{
    position: absolute;
    top: 0;
}