body{
    background-color:steelblue;
    color:blanchedalmond;
    margin: 5%;
    font-family: 'Courier New', Courier, monospace;
}
.gonb{
    background-color:lightskyblue;
    color:black;
    border-color: black;
    font-weight: 600;
    padding: 5px;
    font-size: large;
}
input{
    background-color: rgb(250, 240, 225);
    font-weight: 600;
    padding: 5px;
    font-size: large;
    text-align: center;
}
h2{
    font-weight: bold;
    margin-top: 5%;
    margin-bottom: 2.5%;
}
form{
    margin-bottom: 5%;
}
hr{
    height:2px;
    background:lightskyblue;
}